@model WebApplication1.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Companies.Name)
        </dt>*@
        <dt>
           Название компании
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Companies.Name)
        </dd>

        <dt>
            Название продукта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Комиссия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
